@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
    /* height: 100vh;  --> debordement de ce qu'il y a dedans */
    background: #9fc6b7;
    color: rgb(94, 143, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1rem;
}

.frame {
    width: 375px;
    height: 100vh;
    background: blanchedalmond;
    border:2px dashed rgb(64, 118, 103);
}