.theme {
  display: flex;
  display: grid;
  width: 35px;
  height: 35px;
}

.themeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  color: var(--secondary);
  border: 3px solid var(--accent);
  background-color: var(--primary-darker1);
  font-size: 22px;
}

.theme button:hover {
  border: 3px solid var(--accent-darker1);
}
