.errorPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;
  background: var(--primary1);
  user-select: none;
}

.errorFrame {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary2);
  border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
  box-shadow: inset clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.2rem, 0.1rem + 0.25vw, 0.4rem) var(--shadow);
}

.error {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary1);
  border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
  box-shadow: clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.2rem, 0.1rem + 0.25vw, 0.4rem) var(--shadow);
  padding: 10px;
}

.errorTitle {
  margin-bottom: 10px;
}

.errorReturn {
  color: var(--accent2);
  margin-bottom: 10px;
}

.errorReturn:hover {
  color: var(--accent1);
}

.errorReturn:active {
  scale: 0.9;
}

.errorLink {
  text-decoration: none;
  cursor: pointer;
}

.errorNotif {
  color: var(--notif);
}

.icon {
  height: 100px;
  width: 100px;
  margin: 20px;
  color: var(--accent3);
}
