# ********************************  GITIGNORE  ******************************* #

# --------- Editor --------- #
.vscode/*
*~
\#*\#


# ----------- Env ---------- #
.env
Dockers/.env

# -------- Database -------- #
Database
install_docker.sh

# ---------- Other --------- #
.DS_STORE
.icloud

# ------------- Template from https://github.com/github/gitignore ------------ #

# ------ Prerequisites ----- #
*.d

# ------ Object files ------ #
*.o
*.ko
*.obj
*.elf

# ------ Linker output ----- #
*.ilk
*.map
*.exp

# --- Precompiled Headers -- #
*.gch
*.pch

# -------- Libraries ------- #
*.lib
*.a
*.la
*.lo

# ----- Shared objects ----- #
*.dll
*.so
*.so.*
*.dylib

# ------- Executables ------ #
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ------- Debug files ------ #
*.dSYM/
*.su
*.idb
*.pdb

# ------ Kernel Module ----- #
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# misc
**/*.DS_Store
**/*.icloud


# Database
Database

/node_modules
yarn.lock
yarn-error.log
install_docker.sh


