.confirmEmail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: clamp(20px, 5vh, 100px);
  margin: 0 auto;
  background-color: var(--secondary-lighter2-light);
  border-radius: 10px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: bold;
  padding-bottom: clamp(20px, 5vh, 100px);
}

.description {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

.code {
  margin: 0 auto;
}

.inputCode {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 40px;
}

.inputCode input {
  outline: none;
  text-transform: uppercase;
  border: 3px solid var(--secondary);
  text-align: center;
  margin: 2px;
  width: 50px;
  height: 50px;
  font-size: 28px;
  border-radius: 8px;
}

.inputs input:focus {
  outline: none;
  border: 3px solid var(--accent);
}

.msg {
  padding-top: 20px;
}

.submitBtn {
  appearance: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in;
  margin-block: 20px;
  margin-inline: 10px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--accent);
}

.submitBtn:checked {
  transition: all 0.3s ease-out;
}

.submitBtn:hover {
  color: var(--accent);
  border: 3px solid var(--accent-lighter1);
}

.bottomText {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.bottomText button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  font-size: 16px;
  margin-top: 10px;
}

.bottomText button:hover {
  color: var(--accent);
}

.bottomText button:checked {
  color: var(--accent-lighter1);
}
