.main {
    height: 100vh;
    background: var(--primary);
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} /* MAIN ISSU DE HOME */

/* ------------------------------ */

/* PROFILE MAIN FRAME */

.profileMainFrame {

	/* avoir un max-width ?*/
	max-width: 85%;

	color:var(--secondary);
	display: block;
	flex-direction: row;
	padding: 1rem;
	
	/* border:1px dashed rgb(87, 120, 167); */
	background-color: var(--primary-darker1);
	border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
	box-shadow: 
		inset
		clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem) 
		clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
		clamp(0.2rem, 0.1rem + 0.25vw, 0.4rem)
		rgba(67, 80, 126, 0.22);
}

.profileMainFrame .both {
	border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
	padding: clamp(0.25rem, 0.5rem + 5vw, 1rem);
	box-shadow: 
		clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem) 
		clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
		clamp(0.2rem, 0.1rem + 0.25vw, 0.4rem)
		rgba(67, 80, 126, 0.22);
	background-color: var(--primary);
}

.profileMainFrame .first {
	margin-bottom: 5vw;
	display: flex;
	justify-content: left;
	gap: 1rem;

	/* TEST */
	padding: 0;
	min-width: 300px;
	overflow: hidden;
}

.profileMainFrame .second {
	min-width: 300px;
}




/* RESPONSIVE */

/* Breakpoint 1 : width > smartphone */
@media(min-width: 38rem) {
	.profileMainFrame {
		/* flex-direction: column; */
		display: flex;
		gap: 1rem; /* a voir si besoin en plus des paddings */
	}

	.profileMainFrame .first {
		margin-bottom: 0;
		justify-content: center;
	}
}


/* Breakpoint 2 : width > smartphone & pads */
@media(min-width: 992px) {

}