.buttonGroup {
  display: flex;
}

.buttonGroup:hover {
  cursor:pointer;
}

.buttonGroup .button {
  font-size: 1.65rem;
  padding: 0.65rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  background-color: var(--primary-darker1);
  border: 0.2rem solid var(--primary-darker1);
}


.buttonGroup .button.selected {
    background-color: var(--secondary);
    color: var(--primary);
    border: 0.2rem solid var(--accent);
}


.buttonGroup .button.left {
  border-radius: 0.4rem 0 0 0.4rem;
}

.buttonGroup .button.right {
  border-radius: 0 0.4rem 0.4rem 0;
}

/* ------------------------------------------- */

.singleButton {
    font-size: 1.65rem;
  padding: 0.65rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  background-color: var(--primary-darker1);
  border: 0.2rem solid var(--primary-darker1);

  border-radius: 0.4rem;
  transition: all 0.3s ease-in;
}

.singleButton:hover {
    cursor:pointer;
}

.singleButton.cancel {
    color: var(--notif);
}

.singleButton.valid {
    color: var(--accent);
}

.singleButton.cancel:hover,
.singleButton.valid:hover {
    
    border: 0.2rem solid var(--accent-lighter1);
}