.gamePage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary3);
  margin-block: 20px;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}

.gameLoading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
