.info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
}

.general {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}

.showLeft,
.showRight {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  text-align: center;
}

.showRight {
  align-items: flex-end;
}

.avatar {
  display: flex;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: var(--primary1);
  margin: 5px;
}

.leftPlayer,
.rightPlayer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.rightPlayer {
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
}

.title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.showScore {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.displayRound {
  margin: 5px;
  padding: 4px 12px;
  border: 3px solid var(--secondary1);
  border-radius: 5px;
}

.round {
  font-size: 18px;
}

.score {
  font-size: 16px;
}
