.pong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary1);
  border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
  box-shadow: clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.2rem, 0.1rem + 0.25vw, 0.4rem) rgba(67, 80, 126, 0.22);
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  margin: 0px auto;
  width: 96%;
  max-height: 75vh;
  border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
}
