.pong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  margin: 0px auto;
  width: 90%;
}
