.avatarProfile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.links {
  text-decoration: none;
}

.avatar {
  max-width: 200px;
  width: 100%;
  aspect-ratio: 1;
  border: 6px solid var(--primary1);
  border-radius: 50%;
}

.avatar:hover {
  scale: 1.1;
}

.login {
  color: var(--accent1);
  font-family: var(--title-font);
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: 900;
}

@media (min-width: 72rem) {
  .avatarProfile {
    width: 30%;
  }
}
