.gameStats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%;
  margin: 5px;
}

.boxItem {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
}

.tinyTitle {
  margin-left: 20px;
  margin-bottom: 5px;
  color: var(--accent1);
  font-size: 0.8rem;
  font-weight: 600;
}

.statsBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.xpBar {
  width: 80%;
  max-width: 600px;
}

@media (min-width: 65rem) {
  .gameStats {
    width: 65%;
  }
}
