.homeProfil {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  /* border: solid var(--secondary1) 3px; */
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.profileInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.avatar {
  display: flex;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  color: var(--primary1);
  margin: 0;
  padding: 0;
}
