.main {
  /* border-style: dotted; */
  background-color: var(--primary);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  user-select: none;
  height: clamp(40px, 5vh, 80px);
}

.main div {
  width: 80%;
  height: 100%;
  margin-inline: auto;
  border-bottom: 1.5px solid rgba(5, 47, 95, 0.2);
  position: relative;
}

.logo {
  width: clamp(30px, 3vh, 50px);
  height: clamp(30px, 3vh, 50px);
  margin-right: auto;
  cursor: pointer;
}

.logo:hover {
  scale: 1.05;
}

.logo:active {
  scale: 0.95;
}

.logIn {
  font-size: clamp(0.8rem, 2vh, 1.1rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--accent);
  border-radius: 2px;
  border: none;
  color: var(--tertiary);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  height: clamp(25px, 2vh, 40px);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.logIn:hover {
  scale: 1.05;
}

.logIn:active {
  scale: 0.95;
}
