.home {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.lobby {
  width: 100%;
  min-height: 50%;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-lighter2-light);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
