.home {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.lobby {
  width: 100%;
  min-height: 50%;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 50px;
  font-family: var(--title-font);
  font-size: 13px;
  border: 3px solid var(--secondary-lighter2);
  border-radius: 10px;
}

.menu > button:hover {
  border: 3px solid var(--accent-darker1);
  cursor: pointer;
}

.selected {
  border: 3px solid var(--accent);
  background-color: var(--primary-darker1);
  color: var(--accent);
}

.content {
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-lighter2-light);
}
