/* Color Selector */

/* .selector {
} */

.selector .row {
  display: "flex";
  flex-direction: "row";
  margin-bottom: 4px;
}

/* [!] je suis oblige de laisser aussi le style inline dans le JSX 
	sinon certaines prop comme width et height ne sont pas prises en compte
*/
.selector .row .button {
  border-style: none;
  margin-right: 2px;
  margin-left: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.selector .row .button:hover {
  cursor: pointer;
  scale: 1.1;
}

.selector .row .button:active {
  scale: 0.9;
}
