.main {
  border: 3px solid var(--secondary1);
  /* [!] STYLE BORDURES */
	/* border: 1px solid grey; */
	width: 100%;
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
	/* margin-left: -3px; */
}

.noPadding {
	padding: 0;
}

.icon, .iconArrow {
	/* border: 1px solid red; */
	width: 30px;
	height: 30px;
}

.iconArrow {
	cursor: pointer;
}

.iconArrow:hover {
	scale: 1.05;
}

.iconArrow:active {
	scale: 0.95;
}
