.displayXp {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
}

.xpItem {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.details {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  color: var(--primary1);
  @media screen and (max-width: 550px) {
    font-size: 12px;
  }
}

.total {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding-top: 5px;
  width: 120px;
  border-top: 3px solid var(--accent1);
  color: var(--primary1);
  @media screen and (max-width: 550px) {
    font-size: 14px;
  }
}
