.league {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary1);
  border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
  box-shadow: clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.2rem, 0.1rem + 0.25vw, 0.4rem) var(--shadow);
  margin-top: 15px;
  padding: 15px;
}

.displayLeague {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 160px;
}

.resume {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}
