.league {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.displayLeague {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 160px;
  padding: 10px;
  border-radius: 10px;
  border: solid var(--secondary1) 3px;
  margin-top: 10px;
}

.resume {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}
