.logService {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 16px;
}

.logImg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin: 20px;
}

.google:hover,
.school:hover {
  scale: 1.15;
}

.google:active,
.school:active {
  scale: 0.95;
}
