.main {
	padding: 10px;
}

.main h3 {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	/* border: 1px solid red; */
}

.main p {
	margin-bottom: 20px;
	text-align: center;
	/* padding: 10px; */
	/* border: 1px solid red; */
}

.line {
	height: 0;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px solid var(--tertiary3);
}

.gridItem {
	/* padding: 0.7rem; */
	min-height: 6rem;
	height: auto;
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 2px solid var(--primary3);
	border-radius: 10px;
}

.gridItem:hover {
	box-shadow: 0px 0px 15px var(--accent3);
}

.grid {
	margin: 0 auto;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.circleAround {
	/* border: 1px solid var(--tertiary1); */
	height: 90%;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background-color: var(--primary1);
}

.circleInside {
	/* border: 1px solid var(--tertiary1); */
	height: 85%;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}

.left {
	height: 100%;
	width: 25%;
	padding: 20px;
	/* border: 1px solid red; */
	border-top-left-radius: 7px;
	border-bottom-left-radius: 10px;
	background-color: var(--achievement);
	display: flex;
	align-items: center;
	justify-content: center;
}

.middle {
	/* border: 1px solid red; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	padding: 5px;
	flex: 1;
	font-size: 0.8rem;
	text-align: center;
	justify-content: space-between;
}

.middle h5 {
	font-size: 0.9rem;
}

.right {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	/* border: 1px solid green; */
	height: 100%;
	width: 15%;
	font-size: 0.7rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.bottom {
	/* border: 1px solid red; */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-start;
}

.icon {
	/* border: 1px solid red; */
	height: 25px;
	width: 25px;
}

.xp {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: var(--achievement);
	font-weight: bold;
}

.collect {
	/* border: 1px solid red; */
	width: 100%;
	text-align: center;
	color: var(--achievement);
	letter-spacing: 1px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
