.buttonGroup {
  display: flex;
}

.buttonGroup:hover {
  cursor: pointer;
}

.buttonGroup .button {
  font-size: 1.65rem;
  padding: 0.65rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary1);
  background-color: var(--primary2);
  border: 0.2rem solid var(--primary2);
}

.buttonGroup .button.selected {
  background-color: var(--secondary1);
  color: var(--primary1);
  border: 0.2rem solid var(--accent1);
}

.buttonGroup .button.left {
  border-radius: 0.4rem 0 0 0.4rem;
}

.buttonGroup .button.right {
  border-radius: 0 0.4rem 0.4rem 0;
}

/* ------------------------------------------- */

.singleButton {
  font-size: 1.65rem;
  padding: 0.65rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary1);
  background-color: var(--primary2);
  border: 0.2rem solid var(--primary2);

  border-radius: 0.4rem;
  transition: all 0.3s ease-in;
}

.singleButton:hover {
  cursor: pointer;
}

.singleButton.cancel {
  color: var(--notif);
}

.singleButton.valid {
  color: var(--accent1);
}

.singleButton.cancel:hover,
.singleButton.valid:hover {
  border: 0.2rem solid var(--accent2);
}
