.settings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 600px;
  font-size: 16px;
  font-weight: bold;
}

.save {
  appearance: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
  background-color: var(--bg-2);
  border: 3px solid var(--bg-3);
  transition: all 0.3s ease-in;
}

.save:hover {
  color: var(--black-2);
  border: 3px solid var(--black-2);
}

.save:checked {
  transition: all 0.3s ease-out;
}

.save .go {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}
