.selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.activeButton {
  appearance: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--accent);
  transition: all 0.3s ease-in;
}

.inactiveButton {
  appearance: none;
  appearance: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-lighter3);
  background-color: var(--primary-darker);
  border: 3px solid var(--secondary-lighter3);
  transition: all 0.3s ease-out;
}

.inactiveButton:hover {
  color: var(--accent-lighter1);
  border: 3px solid var(--accent-lighter1);
}
