<p>Welcome {{login}} to Crunchy Pong!</p>
<p>In order to finalize your registration,</p>
<p>Please enter this code to confirm your email:</p>
<p>{{code}}</p>

<p>If you did not request this email you can safely ignore it.</p>
