.main {
    height: 100vh;
    background: var(--primary-color);
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} /* MAIN ISSU DE HOME */

/* ------------------------------ */

/* PROFILE MAIN FRAME & SUBMDODULES CSS */

.profileMainFrame {

	/* avoir un max-width ?*/
	color:var(--accent-color);
	display: block;
	flex-direction: row;
	gap: 1rem; /* espacement entre first et second*/
	border:1px dashed rgb(87, 120, 167);
	padding: 1rem;
}

.profileMainFrame .both {
	min-width: 300px;
	padding: clamp(0.25rem, 0.5rem + 5vw, 1rem);
	border-radius: 1rem;
}

.profileMainFrame .first {
	border:1px dashed rgb(87, 120, 167);
	margin-bottom: 5vw;
	display: flex;
	justify-content: left;
	gap: 1rem;
}

.profileMainFrame .second {
	border:1px dashed rgb(87, 120, 167);
}




/* RESPONSIVE */

/* Breakpoint 1 : width > smartphone */
@media(min-width: 38rem) {
	.profileMainFrame {
		/* flex-direction: column; */
		display: flex;
		gap: 0.5rem; /* a voir si besoin en plus des paddings */
	}

	.profileMainFrame .first {
		margin-bottom: 0;
		justify-content: center;
	}
}


/* Breakpoint 2 : width > smartphone & pads */
@media(min-width: 992px) {

}