/* FRAME - PARENT COMPONENT */
.channelMsgFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: dashed 2px var(--notif); */ /*checking */
}

/* ----------------- HEADER ----------------- */
.channelMsgFrame .header {
  min-height: 40px;
  max-height: 60px;
  background-color: var(--primary3);
  display: flex;
  justify-content: center;
  padding: 10px 35px;
  align-items: center;
  flex-flow: row nowrap;
}

.channelMsgFrame .header .icon {
  justify-content: flex-start;
  font-size: 1.5rem;
  padding-right: 15px;
}

.channelMsgFrame .header .card {
  /* border: 2px solid blue; */
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  color: var(--accent1);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  overflow: hidden;

  /* border: 2px dashed var(--notif); */
}

.channelMsgFrame .header .card {
  cursor: pointer;
}

.channelMsgFrame .header .name {
  cursor: pointer;
  /* border: 2px solid red; */
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelMsgFrame .header .card .avatar {
  aspect-ratio: 1;
  height: 100%;
}
/* ----------------- MESSAGE BOARD ----------------- */

/* a améliorer pour que le conenu suppl devienne scrollable */
.channelMsgFrame .msgBoard {
  background-color: var(--primary2);
  padding: 6px 20px 6px 10px;

  /* min-height: 0px; */
  flex-grow: 1;
  overflow-y: scroll;

  /* [!] pas idéal */
  /* max-height: 900px; */

  /* mieux [?] mais rapetisse le tout [?] depend des parents ? */
  height: 0px;
}


.channelMsgFrame .msgBoard::-webkit-scrollbar {
	width: 5px;
  }
  
.channelMsgFrame .msgBoard::-webkit-scrollbar-track {
	display: none;
  }
  
.channelMsgFrame .msgBoard::-webkit-scrollbar-thumb {
	background-color: var(--accent1);
	border-radius: 5px;
  }

.channelMsgFrame .msgBoard .msgItem {
  margin-bottom: 20px;
  display: flex;

  /* border: 2px dashed var(--accent1); */
}

.channelMsgFrame .msgBoard .msgItem .avatarSide {
  width: 60px;
  margin-right: 6px;
  /* display: flex; */
  /* justify-content: center; */

  /* background-color: cadetblue; */
}

.channelMsgFrame .msgBoard .msgItem .avatarSide .avatarSlot {
  width: 46px;
  height: 46px;
  margin-left: 6px;
}

.channelMsgFrame .msgBoard .msgItem .textSide {
  flex: 1;

  /* background-color: rgb(151, 190, 107); */
}

.channelMsgFrame .msgBoard .msgItem .textSide .tsheader {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.3rem;
  margin-bottom: 4px;

  /* background-color: rgb(151, 190, 107); */
}

.channelMsgFrame .msgBoard .msgItem .textSide .tsheader .name {
  font-family: var(--title-font);
  font-weight: 650;
  font-size: 1.2rem;

  /* background-color: rgb(151, 190, 107); */
}

.channelMsgFrame .msgBoard .msgItem .textSide .tsheader .date {
  color: var(--tertiary1);
  font-size: 0.85rem;

  /* background-color: rgb(151, 190, 107); */
}

.channelMsgFrame .msgBoard .msgItem .textSide {
  min-width: 0;
}

.channelMsgFrame .msgBoard .msgItem .textSide .content pre {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-family: var(--text);
  font-size: 1rem;
}

/* ----------------- PROMPT ----------------- */
.channelMsgFrame .prompt {
  min-height: 80px;
  background-color: var(--primary3);

  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px dashed var(--accent1); */
}

.channelMsgFrame .prompt form {
  background-color: var(--primary2);
  border-radius: 8px;
  overflow: hidden;

  max-width: 800px;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px dashed var(--notif); */
}

.channelMsgFrame .prompt textarea {
  border: none;
  resize: none;
  background: none;
  font-family: var(--text);
  color: var(--tertiary1);
  flex: 1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* default value for first render */
  height: 40px;

  /* background-color: rgb(179, 122, 233); */
}

.channelMsgFrame .prompt textarea:focus {
  outline: none;
}

.channelMsgFrame .prompt .paperPlane {
  color: var(--accent1);
  font-size: 1.3rem;
  background: none;
  border: none;

  margin-left: 15px;
  margin-right: 15px;
}

.channelMsgFrame .prompt .paperPlane.disabledButton {
  color: var(--primary3);
  cursor: default;
}

.channelMsgFrame .prompt .paperPlane.disabledButton:hover {
  cursor: default;
}

.channelMsgFrame .prompt .paperPlane:hover {
  cursor: pointer;
}
