.main {
  height: 75vh;
  background: var(--primary1);
  overflow-y: scroll;
  overflow-x: hidden;
}

.error {
  color: var(--notif);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.icon {
  font-size: 7.5rem;
}

.link {
  text-decoration: none;
  color: var(--accent1);
  font-family: var(--title-font);
  font-size: 1.2rem;
  font-weight: 650;
}
