.pongHead {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.keyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 3vh, 70px);
  height: clamp(40px, 3vh, 70px);
  border-radius: 100%;
  color: var(--secondary1);
  background-color: var(--primary1);
  border: 3px solid var(--secondary1);
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.keyBtn:hover {
  color: var(--accent1);
  border: 3px solid var(--accent2);
}

.keyBtn:active {
  scale: 0.95;
}

.title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 3vh, 70px);
  height: clamp(40px, 3vh, 70px);
  border-radius: 100%;
  color: var(--secondary1);
  background-color: var(--primary1);
  border: 3px solid var(--secondary1);
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}

.quitBtn:hover {
  color: var(--accent1);
  border: 3px solid var(--accent2);
}

.quitBtn:active {
  scale: 0.95;
}
