/* AVATAR FRAME */
.avatarFrame {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

/* SETTINGS CARD */
.settingsCard {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 12vw;
  padding-bottom: 8vw;
  padding-top: 20px;
  gap: 1rem;
}

/* AVATAR CARD */

.avatarCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.avatarCard h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: clamp(0.5rem, 0.2rem + 2.3vw, 3rem);
}

.avatarCard .rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 200px;
  background-color: rgba(67, 80, 126, 0.22);
  margin-bottom: clamp(8px, 3px + 3vw, 25px);
}

/* AVATAR MODULE */

.avatar {
  height: 80%;
  aspect-ratio: 1;
}

.avatar .circular {
  border-radius: 50%;
  border: 6px solid var(--primary1);
  background-color: var(--notif);
  overflow: hidden;
}

.avatar .rounded {
  border-radius: 15%;
  border: 6px solid var(--primary1);
  background-color: var(--notif);
  overflow: hidden;
  height:100%;
}

.avatar .circular:hover,
.avatar .rounded:hover {
  cursor: pointer;
  scale: 1.03;
}

.avatar .circular:hover.disabled,
.avatar .rounded:hover.disabled {
  cursor: auto;
  scale: 1;
}

/* LOGIN MODULE */
.loginCard {
  user-select: none;
}

.loginCard .login {
  padding: 4px 12px;
  border-radius: 5px;
  background-color: var(--accent1);
  text-align: center;
  color: var(--primary1);
}

p.notif {
  font-size:0.8rem;
  color: var(--notif);
  text-align: left;
}

.small {
  font-size: 1.1rem;
}

.medium {
  font-size: 1.8rem;
}




/* RESPONSIVE */

/* Breakpoint 1 : width > smartphone */
@media (min-width: 38rem) {

  .avatarFrame {
    align-items: center;
    justify-content: flex-start;
  }

  .settingsCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 0;

    padding-top: 20px;
    gap: 1rem;
  }
}

/* Breakpoint 2 : width > smartphone & pads */
@media (min-width: 992px) {
}
