.card {
  min-height: 150px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

p.password {
  font-family: var(--text-font);
  color: var(--secondary1);
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--primary1);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

p.password.placeholder {
  color: var(--secondary1);
}

p.password input {
  border: none;
  outline: none;
  background-color: var(--primary1);
  color: var(--secondary1);
  text-align: center;
  font-family: var(--text-font);
  font-size: 1.4rem;
  font-weight: 500;
}

p.notif {
  margin-top: 30px;
  font-size: 0.8rem;
  color: var(--notif);
}

.button_type1 {
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--primary1);
  background-color: var(--secondary1);
  border: 0.2rem solid var(--accent1);
  margin-bottom: 1rem;
  transition: all 0.3s ease-in;
}

.button_type1:hover {
  cursor: pointer;
  background-color: var(--primary1);
  border: 0.2rem solid var(--accent1);
  color: var(--accent1);
}