.password {
  border: 2px solid hotpink;
}

.password.placeholder {
   border: 2px solid chartreuse;
}

.password input {
  appearance: none;
  border: none;
  font-family: var(--text-font);
  color: var(--secondary1);
  font-size: 10rem;
  font-weight: 500;
  background-color: var(--primary1);
  text-align: center;
}