.generalSettings {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.set {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
}
