.party {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.createBtn {
  appearance: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--primary1);
  background-color: var(--secondary1);
  border: 3px solid var(--accent1);
}

.createBtn:checked {
  transition: all 0.3s ease-out;
}

.createBtn:hover {
  color: var(--accent1);
  border: 3px solid var(--accent2);
}
