.loading_page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    background: var(--primary);
    color: var(--tertiary);
}
  
.loading_page h1 {
    align-self: center;
}