
.game_infos{
    background-color: var(--secondary);
    color: black;
    cursor: pointer;
    border-radius: 2px;
    border : 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: border 0.3s ease, background-color 0.3s ease, height 0.3s ease;
}

.game_infos:hover{
    border: var(--accent) 2px solid;
    background-color: var(--accent-lighter1);
}

.name_box {
    height: 100%;
    width: 10%;
    color: white;
    font-size: 1.5em;
    padding: 5px;
    font-weight: bold;
    /* Pas de retour à la ligne */
    white-space: nowrap;
}

.avatar_host {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    color: white;
}

.avatar_opponent {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
}

.avatar_host p {
    margin-left: 10px;
    margin-right: 10px;
}

.avatar_opponent p {
    margin-left: 10px;
    margin-right: 10px;
}

.avatar_host img {
    width: 50px;
    height: 50px;
}

.avatar_opponent img {
    margin-left: 10px;
    margin-right: 10px;
}


.vs {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.mdp_input {
    background-color: green;
    width: 100px;
}

.mdpoff {
    background-color: red;
}

.mdpon {
    background-color: green;
}

.status {
    background-color: red;
} 

.score {
    background-color: green;
}

.button_join_box {
    background-color: red;
}

.button_join{
    background-color: green;
}

.button_watch_box{
    background-color: red;
}

.button_watch{
    background-color: green;
}