.logService {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex;
  align-items: center;
  margin: 0 auto;
}

.description {
  font-size: 16px;
}

.logImg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin: 10px;
}

.oneClick {
  border: 2px solid var(--secondary1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--bubble);
}

.oneClick:hover {
  scale: 1.05;
}

.oneClick:active {
  scale: 0.95;
}
