.menu {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;
}

.avatar {
  display: flex;
  border-radius: 100%;
  width: clamp(40px, 3vh, 70px);
  height: clamp(40px, 3vh, 70px);
  color: var(--primary1);
  margin: 0;
  padding: 0;
}

.avatar:hover {
  scale: 1.1;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: clamp(50px, 3vh, 60px);
  right: 5%;
  margin-top: clamp(10px, 2vh, 30px);
  z-index: 1;
}

.list {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
  border: 2px solid var(--accent1);
  font-family: var(--title-font);
  background-color: var(--primary1);
  font-weight: 500;
  font-size: clamp(16px, 2vh, 30px);
  border-radius: 5px;
}

.profile {
  /* text-transform: uppercase; */
}

.list a,
.logOut {
  text-decoration: none;
}

.list li {
  color: var(--tertiary1);
  width: 100%;
  min-width: 100px;
  min-height: 30px;
  padding: 5px;
  background-color: var(--primary1);
  border-radius: 5px;
}

.list li:hover {
  color: var(--accent2);
  background-color: var(--primary2);
  cursor: pointer;
}

@media screen and (min-width: 2000px) {
  .list {
    padding: 10px 30px;
  }
}
