.nav {
  width: 90%;
  min-height: clamp(60px, 5vh, 100px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
  background-color: var(--primary1);
  border-bottom: 1.5px solid var(--secondary1);
  margin-left: 5%;
  margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
}

.left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: var(--title-font);
  color: var(--secondary1);
  text-decoration: none;
  /* border: 1px solid red; */
}

.right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: clamp(160px, 12vw, 300px);
  /* border: 1px solid red; */
}

.logo {
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
}

.left:hover {
  scale: 1.02;
}

.left:active {
  scale: 0.95;
}

.logIn {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logInBtn {
  appearance: none;
  min-width: 80px;
  max-width: 130px;
  min-height: 40px;
  max-height: 50px;
  border-radius: 4px;
  font-size: clamp(14px, 2vw, 18px);
  padding: 10px auto;
  font-weight: bold;
  color: var(--tertiary1);
  background-color: var(--primary1);
  border: 3px solid var(--accent1);
}

.logInBtn:hover {
  color: var(--accent3);
  border: 3px solid var(--accent3);
  cursor: pointer;
}

.logInBtn:active {
  scale: 0.95;
}

.title {
  display: flex;
  font-family: var(--title-font);
  color: var(--tertiary1);
  font-size: 20px;
  text-decoration: none;
}

.chatBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 3vh, 70px);
  height: clamp(40px, 3vh, 70px);
  border-radius: 100%;
  color: var(--secondary1);
  background-color: var(--primary1);
  border: 3px solid var(--secondary1);
  font-size: 22px;
  cursor: pointer;
}

.chatBtn:hover {
  color: var(--accent1);
  border: 3px solid var(--accent2);
}

.chatBtn:active {
  scale: 0.95;
}

.menu {
  width: 70%;
  height: 70%;
  margin: 0;
  padding: 0;
  /* padding-right: 2px; */
}

@media screen and (min-width: 2000px) {
  .title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1500px) {
  .logInBtn {
    padding: 5px 30px;
  }
}
