.nav {
  width: 90%;
  min-height: clamp(60px, 5vh, 80px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
  background-color: var(--primary1);
  border-bottom: 1.5px solid var(--secondary1);
  margin-left: 5%;
  margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
}

.left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: var(--title-font);
  color: var(--secondary1);
  text-decoration: none;
}

.right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
}

.logo {
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
}

.left:hover {
  scale: 1.02;
}

.left:active {
  scale: 0.95;
}

.logIn {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logInBtn {
  appearance: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary1);
  background-color: var(--secondary1);
  border: 3px solid var(--accent1);
  transition: all 0.3s ease-in;
}

.logInBtn:hover {
  color: var(--accent2);
  border: 3px solid var(--accent2);
  cursor: pointer;
}

.title {
  display: flex;
  font-family: var(--title-font);
  color: var(--tertiary1);
  font-size: 20px;
  text-decoration: none;
}

.chatBtn {
  flex-shrink: 0;
  margin-left: 20px;
  border-radius: 100%;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary1);
  border: 3px solid var(--accent1);
  background-color: var(--primary2);
  -webkit-tap-highlight-color: transparent;
}

.menu {
  /* border: 2px solid red; */
  width: 60%;
  height: 60%;
  margin: 0;
  padding: 0;
  padding-right: 2px;
}

.chatBtn:hover {
  border: 3px solid var(--accent1);
  cursor: pointer;
}
