.partyList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.listTitle {
  margin-bottom: 12px;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  background-color: var(--primary1);
  border: 3px solid var(--primary3);
  border-radius: 8px;
  overflow-x: auto;
  max-height: 380px;
}

.listHead {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-width: fit-content;
  width: 100%;
  background-color: var(--primary3);
  border-bottom: 3px solid var(--primary1);
}

.listHead > * {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 5px;
  min-width: fit-content;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--title-font);
}

.detailTitle {
  width: 60px;
}

.nameTitle {
  width: 150px;
}

.typeTitle {
  width: 70px;
}

.playersTitle {
  width: 250px;
}

.roundTitle {
  width: 60px;
}

.statusTitle {
  width: 90px;
}

.actionTitle {
  width: 100px;
}

.listBody {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: fit-content;
  width: 100%;
}

.loading,
.noGames {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  margin: 10px auto;
}
