/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/styles/globals.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* typo pour titres */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* typo pour texte courant */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* COLOR DEFINES - LIGHT*/

  --primary1-light: rgb(254, 254, 254);
  --primary2-light: rgb(220, 222, 233);
  --primary3-light: rgb(183, 184, 207);

  --secondary1-light: rgb(93, 95, 124);
  --secondary2-light: rgb(123, 125, 150);
  --secondary3-light: rgb(170, 171, 184);

  --tertiary1-light: rgb(22, 32, 55);
  --tertiary2-light: rgb(40, 54, 87);
  --tertiary3-light: rgb(61, 77, 115);

  --accent1-light: rgb(15 139 222);
  --accent2-light: rgb(47, 151, 220);
  --accent3-light: rgb(102, 174, 223);

  --bubble-light: rgb(254, 254, 254);

  --notif-light: rgba(255, 85, 85, 1);

  /* COLOR DEFINES - DARK*/

  /* --primary1-dark: rgb(17, 19, 31); */
  /* --primary2-dark: rgb(38, 41, 58); */
  --primary1-dark: rgb(40, 44, 52);
  --primary2-dark: rgb(59, 65, 75);
  --primary3-dark: rgb(69, 70, 92);

  --secondary1-dark: rgb(131, 135, 162);
  --secondary2-dark: rgb(105, 114, 132);
  --secondary3-dark: rgb(71, 72, 85);

  --tertiary1-dark: rgb(200, 206, 233);
  --tertiary2-dark: rgb(181, 189, 221);
  --tertiary3-dark: rgb(140, 144, 194);

  --accent1-dark: rgb(15 139 222);
  --accent2-dark: rgb(47, 151, 220);
  --accent3-dark: rgb(102, 174, 223);

  --bubble-dark: rgb(71, 72, 85);

  --notif-dark: rgba(255, 85, 85, 1);

  /* FONT DEFINES*/
  --title-font: "Quicksand", sans-serif;
  --text-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[color-scheme="light"] {
  --primary1: var(--primary1-light);
  --primary2: var(--primary2-light);
  --primary3: var(--primary3-light);

  --secondary1: var(--secondary1-light);
  --secondary2: var(--secondary2-light);
  --secondary3: var(--secondary3-light);

  --tertiary1: var(--tertiary1-light);
  --tertiary2: var(--tertiary2-light);
  --tertiary3: var(--tertiary3-light);

  --accent1: var(--accent1-light);
  --accent2: var(--accent2-light);
  --accent3: var(--accent3-light);

  --notif: var(--notif-light);

  --bubble: var(--bubble-light);
}

[color-scheme="dark"] {
  --primary1: var(--primary1-dark);
  --primary2: var(--primary2-dark);
  --primary3: var(--primary3-dark);

  --secondary1: var(--secondary1-dark);
  --secondary2: var(--secondary2-dark);
  --secondary3: var(--secondary3-dark);

  --tertiary1: var(--tertiary1-dark);
  --tertiary2: var(--tertiary2-dark);
  --tertiary3: var(--tertiary3-dark);

  --accent1: var(--accent1-dark);
  --accent2: var(--accent2-dark);
  --accent3: var(--accent3-dark);

  --notif: var(--notif-dark);

  --bubble: var(--bubble-dark);
}

html,
body {
  background: var(--primary1);
  color: var(--tertiary1);
  font-family: var(--text-font);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

::selection {
  background: var(--primary1);
  color: var(--accent1);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/scrollBtn/ScrollBtn.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.ScrollBtn_scroll__Ekfq_ {
  position: fixed;
  bottom: 2%;
  right: 5%;
  display: flex;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
  z-index: 1;
}

.ScrollBtn_scrollBtn__7Plp6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
  border-radius: 100%;
  color: var(--secondary1);
  border: 3px solid var(--accent1);
  background-color: var(--primary2);
  font-size: 22px;
}

.ScrollBtn_scrollBtn__7Plp6 button:hover {
  border: 3px solid var(--accent1);
  cursor: pointer;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/theme/Theme.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Theme_theme__mvuWY {
  display: flex;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
}

.Theme_themeBtn__biAld {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
  border-radius: 100%;
  color: var(--secondary1);
  border: 3px solid var(--accent1);
  background-color: var(--primary1);
  font-size: 22px;
}

.Theme_theme__mvuWY button:hover {
  border: 3px solid var(--accent1);
  cursor: pointer;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/navbar/Navbar.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_nav__O1GEE {
  width: 90%;
  min-height: clamp(60px, 5vh, 80px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  -webkit-user-select: none;
          user-select: none;
  background-color: var(--primary1);
  border-bottom: 1.5px solid var(--secondary1);
  margin-left: 5%;
  margin-bottom: 10px;
}

.Navbar_nav__O1GEE a {
  text-decoration: none;
}

.Navbar_left__UJpuR {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: var(--title-font);
  color: var(--secondary1);
  text-decoration: none;
}

.Navbar_right__6LfO9 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
}

.Navbar_logo__t6Ewq {
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
}

.Navbar_left__UJpuR:hover {
  scale: 1.02;
}

.Navbar_left__UJpuR:active {
  scale: 0.95;
}

.Navbar_logIn__3KxGx {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.Navbar_logInBtn__hFL3D {
  appearance: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--tertiary1);
  background-color: var(--primary1);
  border: 3px solid var(--accent1);
  /* transition: all 0.3s ease-in; */
}

.Navbar_logInBtn__hFL3D:hover {
  color: var(--accent2);
  border: 3px solid var(--accent2);
  cursor: pointer;
}

.Navbar_title__5NdCg {
  display: flex;
  font-family: var(--title-font);
  color: var(--tertiary1);
  font-size: 20px;
  text-decoration: none;
}

.Navbar_chatBtn__EpRWT {
  flex-shrink: 0;
  margin-left: 20px;
  border-radius: 100%;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary1);
  border: 3px solid var(--accent1);
  background-color: var(--primary1);
  -webkit-tap-highlight-color: transparent;
}

.Navbar_menu__vAU_N {
  /* border: 2px solid red; */
  width: 60%;
  height: 60%;
  margin: 0;
  padding: 0;
  padding-right: 2px;
}

.Navbar_chatBtn__EpRWT:hover {
  border: 3px solid var(--accent1);
  cursor: pointer;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/navbar/AvatarMenu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.AvatarMenu_menu__r34Lm {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;
}

.AvatarMenu_avatar__fWElB {
  display: flex;
  border-radius: 100%;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
  color: var(--primary1);
  margin: 0;
  padding: 0;
}

.AvatarMenu_avatar__fWElB:hover {
  scale: 1.1;
  cursor: pointer;
}

.AvatarMenu_dropdown__uLxwW {
  position: absolute;
  top: clamp(50px, 3vh, 60px);
  right: 5%;
  margin-top: 16px;
  z-index: 1;
}

.AvatarMenu_list__I8Ydr {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
  border: 2px solid var(--accent1);
  font-family: var(--title-font);
  background-color: var(--primary1);
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}

.AvatarMenu_profile__RhhJZ {
  /* text-transform: uppercase; */
}

.AvatarMenu_list__I8Ydr a,
.AvatarMenu_logOut__p_YKg {
  text-decoration: none;
}

.AvatarMenu_list__I8Ydr li {
  color: var(--tertiary1);
  width: 100%;
  min-width: 100px;
  height: 30px;
  padding: 5px;
  background-color: var(--primary1);
  border-radius: 5px;
}

.AvatarMenu_list__I8Ydr li:hover {
  color: var(--accent2);
  background-color: var(--primary2);
  cursor: pointer;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!../../node_modules/react-toastify/dist/ReactToastify.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em;
}
.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}
.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em;
}
.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em;
}

@media only screen and (max-width : 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0;
  }
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
    top: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
    bottom: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial;
  }
}
.Toastify__toast {
  position: relative;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden;
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  /* webkit only issue #791 */
  z-index: 0;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--close-on-click {
  cursor: pointer;
}
.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1 auto;
  padding: 6px;
  display: flex;
  align-items: center;
}
.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: 1 1;
}
.Toastify__toast-icon {
  margin-inline-end: 10px;
  width: 20px;
  flex-shrink: 0;
  display: flex;
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}

.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

@media only screen and (max-width : 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}
.Toastify__toast-theme--light {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
}

.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}
.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}
.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}
.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}
.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}
.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
}

.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  align-self: flex-start;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover, .Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  transform-origin: left;
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
}

.Toastify__spinner {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  animation: Toastify__spin 0.65s linear infinite;
}

@keyframes Toastify__bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
}
.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
}

@keyframes Toastify__spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=ReactToastify.css.map */
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/footer/footer.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__ftM4A {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding-top: 10px;
  /* border-top: 1.5px solid var(--secondary1); */
  width: 90%;
}

.footer_copyright__Z_w28 {
  font-size: 0.8rem;
  color: var(--secondary3);
}

