.main {
	display: flex;
	position: relative;
	padding-top: clamp(40px, 5vh, 80px);
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

.children {
	position: inline;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
