.main {
	display: flex;
	position: relative;
	padding-top: clamp(40px, 5vh, 80px);
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

.chat {
	/* border: 2px solid blue;
	width: auto; */
	position: inline;
	height: 100%;
}

.children {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
