.main {
    height: 100vh;
    background: #1c1d1e;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 2rem;
}

.img {
	width: 200px;
}
