.main {
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 3rem;
    font-family: var(--title-font);
    text-align: center;
}
