.settings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.save {
  appearance: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--accent1);
  background-color: var(--primary2);
  border: 3px solid var(--accent1);
  transition: all 0.3s ease-in;
  margin-top: 20px;
}

.save:hover {
  color: var(--black-2);
  border: 3px solid var(--accent2);
}

.save:checked {
  transition: all 0.3s ease-out;
}

.save .go {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}
