.theme {
  display: flex;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
}

.themeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 3vh, 50px);
  height: clamp(40px, 3vh, 50px);
  border-radius: 100%;
  color: var(--secondary);
  border: 3px solid var(--accent);
  background-color: var(--primary-darker1);
  font-size: 22px;
}

.theme button:hover {
  border: 3px solid var(--accent-darker1);
  cursor: pointer;
}
