.menu {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu > button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 5px;
  width: 33%;
  background-color: var(--primary2);
}

.activeBtn {
  color: var(--secondary1);
  background-color: var(--primary2);
  border: 5px solid var(--accent3);
  transition: all 0.3s ease-in;
}

.inactiveBtn {
  color: var(--secondary1);
  background-color: var(--primary2);
  border: 5px solid var(--primary2);
  transition: all 0.3s ease-out;
}

.inactiveBtn:hover {
  color: var(--secondary2);
  border: 5px solid var(--primary3);
}