.menu {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu > button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 15px;
  width: 32.5%;
  background-color: var(--primary1);
  border: none;
  border-radius: clamp(0.15rem, 0.05rem + 1vw, 1.2rem);
  box-shadow: clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.15rem, 0.08rem + 0.15vw, 0.3rem)
    clamp(0.2rem, 0.1rem + 0.25vw, 0.4rem) var(--shadow);
}

.activeBtn {
  color: var(--secondary2);
  transition: all 0.3s ease-in;
}

.inactiveBtn {
  color: var(--primary3);
  transition: all 0.3s ease-out;
}

.inactiveBtn:hover {
  color: var(--secondary2);
}
