.defineType {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.section {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary);
  margin-bottom: 5px;
}

.type {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.type button {
  border-radius: 4px;
  font-size: 14px;
  margin: 10px;
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.activeBtn {
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--accent);
  transition: all 0.3s ease-in;
}

.inactiveBtn {
  color: var(--secondary-lighter3);
  background-color: var(--primary-darker);
  border: 3px solid var(--secondary-lighter3);
  transition: all 0.3s ease-out;
}

.inactiveBtn:hover {
  color: var(--accent-lighter1);
  border: 3px solid var(--accent-lighter1);
}
