.game_list {
  height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  padding-bottom: 10px;
  /* border: solid orange 1px; */
  border-bottom: solid var(--secondary) 2px;
  border-top: solid var(--secondary) 2px;
}

.game_list_main {
  height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  padding-bottom: 10px;
}

.game_list::-webkit-scrollbar {
  width: 8px;
}

.game_list::-webkit-scrollbar-track {
  background: var(--primary);
}

.game_list::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.game_list::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.loading {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  animation: notification 1.5s infinite;
}

@keyframes notification {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
